* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ec5fc;
  margin: 0;
  font-family: Arial, sans-serif;
}

.telaLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.central {
  border-radius: 20px;
  color: #fff;
  padding: 30px 10%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  box-shadow: 0px 10px 40px #16141456;
  text-align: center;
}

.central h2 {
  color: #550575;
  font-family: "Oswald", sans-serif;
  font-family: "Tinos", serif;
  margin: 10px 0;
}

.central h3 {
  font-weight: bold;
  font-size: 14px;
  color: #3c6aff;
  margin: 10px 0;
}

input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"] {
  width: 100%;
  padding: 12px 3vw;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-overflow: initial;
}

#btn:hover {
  background-color: #350444;
}

#btn-logar {
  background-color: #550575;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn-logar[disabled] {
  opacity: 0.3;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  color: #080808;
  padding: 20vh 30vw;
  max-width: 90%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  box-shadow: 0px 10px 40px #16141456;
}

#recover-password-button {
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #550575;
}
#recover-password-button[disabled] {
  opacity: 0.5;
  color: aliceblue;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #350444;
  font-size: 12px;
  border: 1px solid #350444;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-overlay {
  background-color: #514869;
}
.swal-text {
  background-color: #eae3fe;
  padding: 17px;
  border: 1px solid #cca1f0;
  display: block;
  margin: 22px;
  text-align: center;
  color: #5c4e61;
  font-family: "Oswald", sans-serif;
}
