* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8ec5fc;
  margin: 0;
  font-family: Arial, sans-serif;
}

.telaLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.central {
  border-radius: 20px;
  color: #fff;
  padding: 30px 10%;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  box-shadow: 0px 10px 40px #16141456;
  text-align: center;
}

.central h2 {
  color: #550575;
  font-family: "Oswald", sans-serif;
  font-family: "Tinos", serif;
  margin: 10px 0;
}

.central h3 {
  font-weight: bold;
  font-size: 14px;
  color: #3c6aff;
  margin: 10px 0;
}

input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
input[type="text"] {
  padding: 12px 5vw;

  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
& ::placeholder {
  color: purple;
  font-size: 0.7;
  text-align: center;
}
.fa-envelope {
  color: #350444;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
  overflow: auto;
}

.fa-lock {
  color: #350444;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}
#btn:hover {
  background-color: #350444;
}

#btn-logar {
  background-color: #550575;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}
#btn-logar[disabled] {
  opacity: 0.3;
}

#recover-password-button {
  width: 80%;
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #550575;
}
#recover-password-button[disabled] {
  opacity: 0.5;
  color: aliceblue;
}
.fa-eye {
  color: #350444;
  position: absolute;
  margin-top: 15px;
  margin-left: 20vw;
  cursor: pointer;
}
.fa-eye-slash {
  color: #350444;
  position: absolute;
  margin-top: 15px;
  margin-left: 20vw;
  cursor: pointer;
}
